<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Chi tiết nhà xuất bản</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/detail_book.css" />
	<link href="static/css/responsive.css" rel="stylesheet">      
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
    <%- include header%>   <!-- header -->
    <hr />
    <div>
        <div class="row">
            <div class="col-sm-3">
                <h3>Thông tin NXB</h3>
                <div class="product-image-wrapper">
                    <div class="ThongTin">
                        <p class="font16">Tên NXB: <%= data.nhaxuatban.ten_nxb%></p>

                        <p class="font16">Năm thành lập: <%= data.nhaxuatban.nam_thanh_lap%> </p>

                        <p class="font16">Địa chỉ: <%= data.nhaxuatban.dia_chi%></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-7">
                <h3>Các tác phẩm</h3>
                <div>
                    <div class="row">
                    <%for(var i = 0; i < data.sach.length; ++i){%>
                    <div class="col-md-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <a href="/book/<%= data.sach[i].id_sach%>">
                                        <img src="/static/imgs/category/books/<%= data.sach[i].image_sach_url%>"
                                        style="height: 250px; margin-top: 10px"/>
                                    </a>
                                    <h3><%= data.sach[i].gia%></h3>
                                    <p><%= data.sach[i].ten_sach%></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-2">
                <h3>NXB khác</h3>
                <div class="product-image-wrapper">
                    <%for(var i = 0; i < data.listNXB.length; ++i){%>
                    <%if(data.listNXB[i].ten_nxb != data.nhaxuatban.ten_nxb){%>
                    <a href="<%= data.listNXB[i].ten_nxb%>">
                        <p class="font16" style="margin: 10px; margin-left: 25px; color: black"><%= data.listNXB[i].ten_nxb%></p>
                    </a>
                    <%}%>
                    <%}%>
                </div>
            </div>
        </div>
    </div>

    <%- include footer%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="static/js/jquery.scrollUp.min.js"></script>
</body>