<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Chi tiết sách</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/detail_book.css" />
	<link href="static/css/responsive.css" rel="stylesheet">      
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
    <%- include header%>   <!-- header -->
    <hr />
    <form method="POST" role="form" action="/book/<%= data.Sach.id_sach%>">
    <div>
        <div id="signupalerterror" style="<%if (!data || !data.thongtin.error){%>display:none<%}%>"
                class="alert alert-danger">
            <%if(data && data.thongtin.error){%>
                <p class="ThongBao"><%= data.thongtin.error%></p>
            <%}%>
        </div>

        <div id="signupalertsuccess" style="margin-left: 20px; margin-right: 20px;<%if (!data || !data.thongtin.success){%>display:none<%}%>"
            class="alert alert-success">
            <%if(data && data.thongtin.success){%>
               <p class="ThongBao"><%= data.thongtin.success%></p>
            <%}%>
        </div>

        <div class="row">
            <!-- Hình ảnh và nút xem trước nội dung sách -->
            <div class="col-sm-5">
                <div class="product-image-wrapper">
                    <div style="height:440px;">
                        <img id="ANH_SACH" src="/static/imgs/category/books/<%= data.Sach.image_sach_url%>"/>
                    </div>
                    <div>
                        <button id="NUT_XEM_THU" class="btn btn-success">Đọc thử</button>
                    </div>
                </div>
            </div>
            <!-- Thông tin sách -->
            <div class="col-sm-6">
                <!-- Tên sách -->
                <h4>Tên sách: <%= data.Sach.ten_sach%></h4>
                
                <p class="font16">Tác giả: <a href="/author/<%= data.tacgia.id_tac_gia%>">
                    <%= data.tacgia.ten_tac_gia%>
                </a></p>
                
                <hr />
                <p class="font16">Giá: <%= data.Sach.gia%> (Khuyến mãi <%= data.Sach.khuyen_mai%>%)</p>
                        
                <hr />
                
                <p class="font16">Nhà xuất bản: <a href="/publisher/<%= data.Sach.nha_xuat_ban%>">
                    <%= data.Sach.nha_xuat_ban%>
                </a></p>
                
                <p class="font16">Năm xuất bản: <%= data.Sach.nam_xuat_ban%></p> 
                   
                <p class="font16">Thể loại: %><%= data.theloai.ten_the_loai%></p>
                
                <hr/>         
                <div class="row">
                    <div class="col-sm-2" >
                        <p>Số lượng: </p>
                        <input type="number" name="SoLuongSach" value="<%= data.thongtin.SoLuong%>" min="1" style="height: 25px;width: 60px;"/>
                    </div>
                    <input type="submit" id="NUT_THEM_GIO_HANG" value="Thêm vào giỏ hàng" class="btn btn-success" style="background-color:rgb(224, 82, 39); margin:15px;" />
                </div> 
            </div>
        </div>
        <hr/>
        <h3>SÁCH CÙNG THỂ LOẠI</h3>
        <div class="row" style="background-color:white; margin:20px">
             <%for(var i = 0; i < data.sachcungtheloai.length; i++){%>
                <%if(data.sachcungtheloai[i].id_sach != data.Sach.id_sach){%>
                <div class="col-md-3">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <a href="/book/<%= data.sachcungtheloai[i].id_sach%>">
                                    <img src="/static/imgs/category/books/<%= data.sachcungtheloai[i].image_sach_url%>"
                                    style="height: 250px; margin-top: 10px"/>
                                </a>
                                <h3><%= data.sachcungtheloai[i].gia%></h3>
                                <p><%= data.sachcungtheloai[i].ten_sach%></p>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
            <%}%>
        </div>
    </div>
    </form>

    <%- include footer%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="static/js/jquery.scrollUp.min.js"></script>
</body>
</html>
