            <h3>Chi tiết giỏ hàng</h3>
            <%if(data.GioHang.length != 0){%>
                <%for(var i = 0; i < data.GioHang.length; ++i){%>
                <div class="product-image-wrapper" style="margin-left: 40px; margin-right: 40px">
                    <div class="row">
                    <div class="col-sm-3">
                            <a href="/book/<%= data.GioHang[i].sach.id_sach%>">
                                <img src="/static/imgs/category/books/<%= data.GioHang[i].sach.image_sach_url%>"
                                style="height: 300px; margin-top: 10px"/>
                            </a>
                    </div>

                    <div class="col-sm-6">
                            <div class="row" id="ChiTietGioHang">
                                <div class="col-sm-8">
                                    <p class="font16">Tên sách: <%= data.GioHang[i].sach.ten_sach%></p>
                                    <p class="font16">Giá: <%= data.GioHang[i].sach.gia%></p>
                                    <p class="font16"> Tác giả: <%= data.GioHang[i].tacgia.ten_tac_gia%></p>
                                    <input type="button" id="<%= data.GioHang[i].sach.id_sach%>" class="btn btn-success" style="background-color: rgb(235, 93, 57)" value="Xóa"/>
                                </div>

                                <div class="col-sm-4">
                                    <div></div>
                                    <p class="font16">Số lượng:</p>
                                    <div class="row" style="margin-left: 0px">
                                        <button class="col-sm-1" name="tru" id="<%= data.GioHang[i].sach.id_sach%>" style="text-align: center; width: 40px">-</button>
                                        <input class="col-sm-4" value="<%= data.GioHang[i].SoLuong%>" name="<%= data.GioHang[i].sach.id_sach%>" id="so_luong" style="width: 60px"/>
                                        <button class="col-sm-1" name="them" id="<%= data.GioHang[i].sach.id_sach%>" style="text-align: center; width: 40px">+</button>
                                    </div>
                                    <p class="font16" style="margin-top: 10px">Tiền: <%= data.GioHang[i].TongTien%></p>
                                </div>
                            </div>
                    </div>
                    </div>
                </div>
                <%}%>

                <div>
                    <h5>Tổng tiền: <%= data.TongTienPhaiTra%> </h5>
                </div>
                <div>
                    <a href="/customer/pay">
                        <%if(data.isUser){%>
                        <button class="btn btn-success" id="NUT_XEM_THU">Thanh toán</button>
                    <%} else {%>
                    <a href="/login">
                        <button class="btn btn-success" id="NUT_XEM_THU">Đăng nhập để thanh toán</button>
                    </a>
                    <%}%>
                    </a>
                </div>
            <%}%>
            <%if(data.GioHang.length == 0){%>
            <div style="height: 200px">
                <h4 class="Chitiet" style="text-align: center; margin-top: 50px">Giỏ hàng của bạn trống</h4>
            </div>
            <%}%>