<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cập nhật thông tin đơn hàng</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/cart_manager.css" />
</head>
<body>
    <h2>Cập nhật trạng thái đơn hàng</h2>
    <div id="cap_nhat_don_hang">
        <%for(var i = data.length-1; i >= 0; i--){%>

        <div class="product-image-wrapper" id="<%= data[i].ma_don_hang%>">
            <h4>Mã đơn hàng: <%= data[i].ma_don_hang%></h4>
            <table id="bang_don_hang">
                <tr>
                    <th>Người nhận</th>
                    <th>Người gửi</th>
                    <th>Địa chỉ</th>
                    <th>Số điện thoại</th>
                    <th>Ngày mua</th>
                </tr>
                <tr>
                    <td><%= data[i].nguoi_nhan%></td>
                    <td><%= data[i].nguoi_gui%></td>
                    <td><%= data[i].dia_chi%></td>
                    <td><%= data[i].so_dien_thoai%></td>
                    <td><%= data[i].ngay_mua%></td>
                </tr>
            </table>

            <div style="margin:20px">
            <p>Trạng thái:</p>
            <div class="row">
                <div class="col-sm-2" style="margin-top: 5px;">
                <%if (data[i].trang_thai == 0){%>
                    <select id="<%= data[i].ma_don_hang%>">
                        <option selected>Xác nhận đóng gói</option>
                        <option>Lấy hàng từ kho</option>
                        <option>Bắt đầu giao hàng</option>
                        <option>Hoàn tất giao hàng</option>
                    </select>
                <%}%>

                <%if (data[i].trang_thai == 1){%>
                    <select id="<%= data[i].ma_don_hang%>">
                        <option>Xác nhận đóng gói</option>
                        <option selected>Lấy hàng từ kho</option>
                        <option>Bắt đầu giao hàng</option>
                        <option>Hoàn tất giao hàng</option>
                    </select>
                <%}%>

                <%if (data[i].trang_thai == 2){%>
                    <select id="<%= data[i].ma_don_hang%>">
                        <option>Xác nhận đóng gói</option>
                        <option>Lấy hàng từ kho</option>
                        <option selected>Bắt đầu giao hàng</option>
                        <option>Hoàn tất giao hàng</option>
                    </select>
                <%}%>

                <%if (data[i].trang_thai ==3){%>
                    <select id="<%= data[i].ma_don_hang%>">
                        <option>Xác nhận đóng gói</option>
                        <option>Lấy hàng từ kho</option>
                        <option>Bắt đầu giao hàng</option>
                        <option selected>Hoàn tất giao hàng</option>
                    </select>
                <%}%>
                </div>
                <div class="col-sm-2" id="cap_nhat">
                    <button class="btn btn-success" id="<%= data[i].ma_don_hang%>" style="margin-left: 30px">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>
    <%}%>
    </div>

    <script src="../static/js/staff_cart.js"></script>
</body>
</html>