<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/staff_book.css" />
</head>
<body>
    <div id="CONTENT">
        <div>
            <div id="signupalerterror" style="<%if (!data || !data.error){%>display:none<%}%>" 
                class="alert alert-danger">
                    <p><strong>Error:</strong></p>
                    <%if (data && data.error){%>
                    <p><%- data.error%></p>
                    <%}%>
                </div>
            <div>
            <table id="delete_sale">
                <thead>
                    <tr>
                        <th>ID sách</th>
                        <th>Giảm giá</th>
                        <th></th>
                    </tr>
                    <%for(var i = 0; i < data.DS_GiamGia.list.length; ++i){%>
                    <tr>
                        <td><%= data.DS_GiamGia.list[i].id%></td>
                        <td><%= data.DS_GiamGia.list[i].so_luong%></td>
                        <td>
                            <button class="btn btn-success" id="<%= data.DS_GiamGia.list[i].id%>" style="background-color: rgb(238, 106, 45);">Xóa</button>
                        </td>
                    </tr>
                    <%}%>
                </thead>
            </table>

            <div id="them_giam_gia" class="row" style="margin-left: 300px; margin-bottom:30px">
                <div class="col-sm-2">
                    <p>ID sách</p>
                    <select id="id_sach_ban_chay">
                        <%for(var i = 0; i < data.sach.arr.length; ++i){%>
                        <option><%= data.sach.arr[i].id_sach%></option>
                        <%}%>
                    </select>
                </div>
                <div class="col-sm-3" style="margin-left: 10px">
                    <p>Giảm giá</p>
                    <input type="number" id="so_luong" style="width: 80px" value="1" min="1"/>
                </div>
                <div class="col-sm-3" style="margin-left: 20px">
                    <button class="btn btn-success" style="margin-top: 20px">Thêm</button>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/staff_book.js"></script>
</body>
</html>