<table>
    <thead>
        <tr>
            <th>ID tác giả</th>
            <th>Tên tác giả</th>
            <th>Năm sinh</th>
            <th>Quê quán</th>
            <th></th>
        </tr>
        <% items.forEach(function(item){%>
        <tr>
            <td><%= item.id_tac_gia%></td>
            <td><%= item.ten_tac_gia%></td>
            <td><%= item.nam_sinh%></td>
            <td><%= item.que_quan%></td>
            <td>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li>
                            <a href="#" id="<%= item.id_tac_gia%>" name="tac_gia">
                                <i class="fa fa-plus-square"></i>Xóa</a>
                        </li>
                        <li>
                            <a href="/staff/update_author?id=<%= item.id_tac_gia %>">
                                <i class="fa fa-plus-square"></i>Sửa</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <%})%>
    </thead>
</table>