<table>
    <thead>
        <tr>
            <th>Tên nhà xuất bản</th>
            <th>Năm thành lập</th>
            <th>Địa chỉ</th>
            <th></th>
        </tr>
        <% items.forEach(function(item){%>
            <tr>
                <td>
                    <%= item.ten_nxb%>
                </td>
                <td>
                    <%= item.nam_thanh_lap%>
                </td>
                <td>
                    <%= item.dia_chi%>
                </td>
                <td>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li>
                                <a href="#" id="<%= item.ten_nxb%>" name="nxb">
                                    <i class="fa fa-plus-square"></i>Xóa</a>
                            </li>
                            <li>
                                <a href="/staff/update_publisher?id=<%= item.ten_nxb %>">
                                    <i class="fa fa-plus-square"></i>Sửa</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <%})%>
    </thead>
</table>